.page__home {
  @include page;
  scroll-behavior: smooth;

  .content {
    margin: auto 0;
    display: grid;
    margin-top: 6rem;
    margin-bottom: 1rem;
    gap: $grid-gap;
    grid-template-columns: 10rem repeat(4, $card-width) 10rem;

    .loader {
      grid-column: 3 / 5;
      justify-self: center;
    }

    .container {
      grid-column: 2 / 6;
      display: grid;
      grid-template-columns: repeat(4, $card-width);
      grid-template-rows: repeat(4, $card-height);
      gap: $grid-gap;
    }
  }

  .btn__locate {
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
    z-index: 9999;
    margin-bottom: 0.5rem;
  }
}
