.page__home {
  @include page;
  scroll-behavior: smooth;

  .content {
    width: 99%;
    height: 100%;
    margin: 6rem auto 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($card-width, $card-width));
    grid-template-rows: repeat(2, minmax($card-height, $card-height));
    grid-auto-rows: minmax($card-height, $card-height);
    gap: $grid-gap;
    justify-content: center;

    .loader {
      grid-column: 2 / 3;
      justify-self: center;
    }
  }

  .locate__container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;

    .btn__locate {
      margin: 0 auto;
    }
  }
}
