.country {
  cursor: pointer;
  perspective: 150rem;
  width: min-content;
  height: min-content;
  position: relative;
  transition: all ease-in 0.2s;

  &__side {
    width: $card-width;
    height: $card-height;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    backface-visibility: hidden;
    transition: all 0.8s ease;
    box-shadow: 0 0.1rem 0.1rem var(--color-grey-light-3);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-grey-light-3);
    overflow: hidden;
  }

  &--back &__side--front {
    transform: rotateY(-180deg);
  }
  &--back &__side--back {
    transform: rotateY(0deg);
  }

  &:hover {
    transform: translateY(-0.3rem);
  }

  &__neighbor {
    width: 5rem;
    height: 3rem;
    border: 0.1rem solid var(--color-grey-light-4);
    border-radius: 0.5rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    transition: all 0.2s;

    &-flag {
      grid-row: 1 / -1;
      img {
        display: inline-block;
        width: 100%;
      }
    }

    &-name {
      font-family: "Raleway", sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--color-grey-dark-1);
      background-color: rgba(#f0eeee, 0.9);
      border-radius: 1rem;
      width: min-content;
      padding: 0 1rem;
      align-self: center;
      margin-left: 0.2rem;
    }
  }
}
