.dialog {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;

  .neighbor__container {
    margin-top: 0.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 12rem));
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 0.5rem;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.7rem);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  &__container {
    grid-column: 3 / 11;
    grid-row: 3 / 9;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: $grid-gap;
    grid-template-rows: repeat(12, 1fr);
    overflow: hidden;

    .flag__container {
      grid-column: 1 / 7;
      grid-row: 1 / 8;
    }
    .neighbor__container {
      grid-column: 1 / 7;
      grid-row: 8 / -1;
    }
    .details__container {
      grid-column: 7 / -1;
      grid-row: 2 / -1;
    }

    .dialog__close {
      grid-row: 1 / 2;
      grid-column: 12 / -1;
      justify-self: end;
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-grey-light-3);
      margin: 0.5rem;
      transition: all 0.15s;

      &:hover {
        transform: translateY(-0.1rem);
      }

      &:active {
        transform: translateY(0.1rem);
      }
      &-icon {
        width: 2rem;
        height: 2rem;
        transition: all 0.15s;

        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }
}
