.nav {
  &__options {
    width: 100%;
    border: none;
    border-bottom: 0.1rem solid var(--color-grey-light-4);
    background-color: var(--color-white);
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
  }
}
