.nav {
  &__list {
    list-style: none;
    &-item {
      display: inline-block;
      margin-left: 0.5rem;
      cursor: pointer;
      color: var(--color-grey-dark-1);
      font-size: 1.5rem;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      transition: all 0.2s;

      &:hover {
        transform: translateY(0.1rem);
      }

      &--active {
        padding: 0.1rem 1.5rem;
        border-radius: 1.5rem;
        background-color: var(--color-blue);
        color: var(--color-white);
        border-bottom: 0.1rem solid var(--color-blue);
        vertical-align: middle;
      }

      &:active {
        animation: bounce 3s infinite;
      }
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(0.1rem);
    }

    50% {
      transform: translateY(0);
    }

    75% {
      transform: translateY(0.05rem);
    }

    100% {
      transform: translateY(0);
    }
  }
}
